Html,
Body {
    Height: 100%;
}

Body {
    Background: #1b1e23;
    Display: Flex;
    Flex-Direction: Column;
    Justify-Content: Center;
    Align-Items: Center;
    Font-Family: Sans-Serif;
    Color: White;
}

P {
    Color: #f4eed7;
    Font-Size: 0.8em;
    Opacity: 0.75;
}

.Clock {
    Height: 200px;
    Width: 200px;
    Border-Radius: 100px;
    Display: Flex;
    Justify-Content: Center;
    Position: Relative;
}

.Clock__second,
.Clock__minute,
.Clock__hour,
.Clock__indicator {
    Position: Absolute;
    Left: Calc(49.9895833333%);
    Width: 2px;
    Background: #f4eed7;
    Transform-Origin: Bottom Center;
    Z-Index: 2;
    Border-Radius: 1px;
}

.Clock__second {
    Height: 90px;
    Margin-Top: 10px;
    Background: #4b9aaa;
    Animation: Time 60s Infinite Steps(60);
    Z-Index: 3;
}

.Clock__minute {
    Height: 80px;
    Margin-Top: 20px;
    Opacity: 0.75;
    Animation: Time 3600s Linear Infinite;
}

.Clock__hour {
    Height: 60px;
    Margin-Top: 40px;
    Animation: Time 43200s Linear Infinite;
}

.Clock__indicator {
    Height: 98px;
    Border-Top: 2px Solid #4b9aaa;
    Background: None;
}

.Clock__indicator:nth-Of-Type(5n) {
    Opacity: 1;
    Height: 93px;
    Border-Top: 7px Solid #f4eed7;
}

.Clock__axis {
    Background: #4b9aaa;
    Width: 5px;
    Height: 5px;
    Border-Radius: 3px;
    Position: Absolute;
    Z-Index: 4;
    Top: 97px;
}

Section:nth-Of-Type(1) {
    Transform: RotateZ(Calc(6deg * 1));
}

Section:nth-Of-Type(2) {
    Transform: RotateZ(Calc(6deg * 2));
}

Section:nth-Of-Type(3) {
    Transform: RotateZ(Calc(6deg * 3));
}

Section:nth-Of-Type(4) {
    Transform: RotateZ(Calc(6deg * 4));
}

Section:nth-Of-Type(5) {
    Transform: RotateZ(Calc(6deg * 5));
}

Section:nth-Of-Type(6) {
    Transform: RotateZ(Calc(6deg * 6));
}

Section:nth-Of-Type(7) {
    Transform: RotateZ(Calc(6deg * 7));
}

Section:nth-Of-Type(8) {
    Transform: RotateZ(Calc(6deg * 8));
}

Section:nth-Of-Type(9) {
    Transform: RotateZ(Calc(6deg * 9));
}

Section:nth-Of-Type(10) {
    Transform: RotateZ(Calc(6deg * 10));
}

Section:nth-Of-Type(11) {
    Transform: RotateZ(Calc(6deg * 11));
}

Section:nth-Of-Type(12) {
    Transform: RotateZ(Calc(6deg * 12));
}

Section:nth-Of-Type(13) {
    Transform: RotateZ(Calc(6deg * 13));
}

Section:nth-Of-Type(14) {
    Transform: RotateZ(Calc(6deg * 14));
}

Section:nth-Of-Type(15) {
    Transform: RotateZ(Calc(6deg * 15));
}

Section:nth-Of-Type(16) {
    Transform: RotateZ(Calc(6deg * 16));
}

Section:nth-Of-Type(17) {
    Transform: RotateZ(Calc(6deg * 17));
}

Section:nth-Of-Type(18) {
    Transform: RotateZ(Calc(6deg * 18));
}

Section:nth-Of-Type(19) {
    Transform: RotateZ(Calc(6deg * 19));
}

Section:nth-Of-Type(20) {
    Transform: RotateZ(Calc(6deg * 20));
}

Section:nth-Of-Type(21) {
    Transform: RotateZ(Calc(6deg * 21));
}

Section:nth-Of-Type(22) {
    Transform: RotateZ(Calc(6deg * 22));
}

Section:nth-Of-Type(23) {
    Transform: RotateZ(Calc(6deg * 23));
}

Section:nth-Of-Type(24) {
    Transform: RotateZ(Calc(6deg * 24));
}

Section:nth-Of-Type(25) {
    Transform: RotateZ(Calc(6deg * 25));
}

Section:nth-Of-Type(26) {
    Transform: RotateZ(Calc(6deg * 26));
}

Section:nth-Of-Type(27) {
    Transform: RotateZ(Calc(6deg * 27));
}

Section:nth-Of-Type(28) {
    Transform: RotateZ(Calc(6deg * 28));
}

Section:nth-Of-Type(29) {
    Transform: RotateZ(Calc(6deg * 29));
}

Section:nth-Of-Type(30) {
    Transform: RotateZ(Calc(6deg * 30));
}

Section:nth-Of-Type(31) {
    Transform: RotateZ(Calc(6deg * 31));
}

Section:nth-Of-Type(32) {
    Transform: RotateZ(Calc(6deg * 32));
}

Section:nth-Of-Type(33) {
    Transform: RotateZ(Calc(6deg * 33));
}

Section:nth-Of-Type(34) {
    Transform: RotateZ(Calc(6deg * 34));
}

Section:nth-Of-Type(35) {
    Transform: RotateZ(Calc(6deg * 35));
}

Section:nth-Of-Type(36) {
    Transform: RotateZ(Calc(6deg * 36));
}

Section:nth-Of-Type(37) {
    Transform: RotateZ(Calc(6deg * 37));
}

Section:nth-Of-Type(38) {
    Transform: RotateZ(Calc(6deg * 38));
}

Section:nth-Of-Type(39) {
    Transform: RotateZ(Calc(6deg * 39));
}

Section:nth-Of-Type(40) {
    Transform: RotateZ(Calc(6deg * 40));
}

Section:nth-Of-Type(41) {
    Transform: RotateZ(Calc(6deg * 41));
}

Section:nth-Of-Type(42) {
    Transform: RotateZ(Calc(6deg * 42));
}

Section:nth-Of-Type(43) {
    Transform: RotateZ(Calc(6deg * 43));
}

Section:nth-Of-Type(44) {
    Transform: RotateZ(Calc(6deg * 44));
}

Section:nth-Of-Type(45) {
    Transform: RotateZ(Calc(6deg * 45));
}

Section:nth-Of-Type(46) {
    Transform: RotateZ(Calc(6deg * 46));
}

Section:nth-Of-Type(47) {
    Transform: RotateZ(Calc(6deg * 47));
}

Section:nth-Of-Type(48) {
    Transform: RotateZ(Calc(6deg * 48));
}

Section:nth-Of-Type(49) {
    Transform: RotateZ(Calc(6deg * 49));
}

Section:nth-Of-Type(50) {
    Transform: RotateZ(Calc(6deg * 50));
}

Section:nth-Of-Type(51) {
    Transform: RotateZ(Calc(6deg * 51));
}

Section:nth-Of-Type(52) {
    Transform: RotateZ(Calc(6deg * 52));
}

Section:nth-Of-Type(53) {
    Transform: RotateZ(Calc(6deg * 53));
}

Section:nth-Of-Type(54) {
    Transform: RotateZ(Calc(6deg * 54));
}

Section:nth-Of-Type(55) {
    Transform: RotateZ(Calc(6deg * 55));
}

Section:nth-Of-Type(56) {
    Transform: RotateZ(Calc(6deg * 56));
}

Section:nth-Of-Type(57) {
    Transform: RotateZ(Calc(6deg * 57));
}

Section:nth-Of-Type(58) {
    Transform: RotateZ(Calc(6deg * 58));
}

Section:nth-Of-Type(59) {
    Transform: RotateZ(Calc(6deg * 59));
}

Section:nth-Of-Type(60) {
    Transform: RotateZ(Calc(6deg * 60));
}

@Keyframes Time {
    To {
        Transform: RotateZ(360deg);
    }
}