*{
    margin: 0;
    padding: 0;
}


.flex-container{
    display: flex;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}
.logo img{
    width: 30%;
    border: 2px solid white;
    border-radius: 50px;
}
.nav-list{
    display: flex;
    width: 50%;
    align-items: center;
}
.nav-list li{
    list-style: none;
    padding: 20px 20px;
}

.nav-list li a{
    text-decoration: none;
    color: white;
    transition: 0.3s;
}
.nav-list li a:hover{
    color: red;
}

.rightNav{
    width: 50%;
    text-align: right;
}

#search{
    padding: 5px;
    font-size: 17px;
    border-radius: 5px;
    border: 2px solid white;
}

.background{
    background: rgba(0, 0, 0, 0.7) url('images/3.png');
    background-size: cover;
    background-blend-mode: darken;
}


.box-main{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}